*{
    margin: 0;
    padding: 0;
}

.item{
    font-weight: bold;
    text-transform: uppercase;
    background-color: bisque;
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    font-size: 2rem;
}

.contenedor{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 200px;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    /*
    flex-flow: row wrap;
    resume flex direction y flex wrap
    */
}

